<mat-card>
    <mat-card-title>Account</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-error class="registerationError" *ngIf="registerInvalid">
                Diese E-Mail-Adresse wird bereits verwendet!
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="E-Mail" formControlName="email" required>
                <mat-error>
                    Bitte geben Sie eine gültige E-Mail Adresse an
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Vorname" formControlName="firstname" required>
                <mat-error>
                    Vorname ist erforderlich
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Nachname" formControlName="lastname" required>
                <mat-error>
                    Nachname ist erforderlich
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error>
                    Bitte geben Sie ein gültiges Passwort ein
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">Registrieren</button>
        </form>
    </mat-card-content>
</mat-card>