.card, h2 {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.no-student-selcted {
    text-align: center;
    font-weight: bold;
    margin-top: 70px;
}

.mat-table {
    width: 100%;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0px;
}

.mat-column-nb {
    width: 41px;
}

.mat-column-date {
    width: 76px;
}

.mat-column-start,
.mat-column-landing {
    min-width: 130px;
    max-width: 200px;
}

.mat-column-time {
    width: 85px;
}

.mat-column-km {
    width: 43px;
}

.mat-column-description {
    max-width: 413px;
}

// ---- statistics ---- 
.basic-stat {
    margin-top: 12px;
}
.basic-stat label {
    display: inline-block;
    width: 165px;
}