<mat-toolbar color="primary">
    <span>{{ 'title'| translate }}</span>
    <div fxShow="true" fxHide.lt-md="true">
        <a mat-button [routerLink]="'/students'">{{ 'menu.students'| translate }}</a>
        <a mat-button [routerLink]="'/appointments'">{{ 'menu.appointments'| translate }}</a>
      </div>
    <span class="menu-spacer"></span>
    <span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button (click)=logout() mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>{{ 'buttons.logout'| translate }}</span>
            </button>
            <ng-container *ngFor='let school of schools'>
                <button *ngIf='school.id != selectedSchool?.id' (click)=switchSchool(school) mat-menu-item>
                    <!-- <mat-icon>exit_to_app</mat-icon> -->
                    <span>{{ school.name }}</span>
                </button>
            </ng-container>
        </mat-menu>
    </span>
</mat-toolbar>
<router-outlet></router-outlet>