<ng-container *ngIf="controlSheet; else addControlsheetButton">
    <h4>{{ 'controlSheet.trainingHill.title' | translate }}</h4>
    <ul>
        <ng-container *ngFor="let item of controlSheet?.trainingHill | keyvalue">
            <li *ngIf="item.key != 'id'">
                <mat-checkbox [(ngModel)]="item.value" (change)="saveTrainingHill($event.checked, item.key)" color="primary">
                    {{ ('controlSheet.trainingHill.' + item.key) | translate }}
                </mat-checkbox>
            </li>
        </ng-container>
    </ul>

    <h4>{{ 'controlSheet.theory.title' | translate }}</h4>
    <ul>
        <ng-container *ngFor="let item of controlSheet?.theory | keyvalue">
            <li *ngIf="item.key != 'id'">
                <mat-checkbox [(ngModel)]="item.value" (change)="saveTheory($event.checked, item.key)" color="primary">
                    {{ ('controlSheet.theory.' + item.key) | translate }}
                </mat-checkbox>
            </li>
        </ng-container>
    </ul>

    <h4>{{ 'controlSheet.altitudeFlight.title' | translate }}</h4>
    <ul>
        <ng-container *ngFor="let item of controlSheet?.altitudeFlight | keyvalue">
            <li *ngIf="item.key != 'id'">
                <mat-checkbox [(ngModel)]="item.value" (change)="saveAltitudeFlight($event.checked, item.key)" color="primary">
                    {{ ('controlSheet.altitudeFlight.' + item.key) | translate }}
                </mat-checkbox>
            </li>
        </ng-container>
    </ul>
</ng-container>

<ng-template #addControlsheetButton>
    <button mat-raised-button color="primary" (click)="addControlSheet()">{{ 'buttons.addControlSheet'| translate }}</button>
</ng-template>