<ng-container *ngIf="controlSheet; else addControlsheetButton">
    <h4>{{ 'controlSheet.trainingHill.title' | translate }}</h4>
    <ul>
        <ng-container *ngFor="let item of controlSheet?.trainingHill | keyvalue">
            <li *ngIf="item.key != 'id'">
                <app-start-rating [selectedRating]="item.value" (click)="saveTrainingHill($event, item.key)"></app-start-rating><span class="definition">{{ ('controlSheet.trainingHill.' + item.key) | translate }}</span>
            </li>
        </ng-container>
    </ul>

    <h4>{{ 'controlSheet.theory.title' | translate }}</h4>
    <ul>
        <ng-container *ngFor="let item of controlSheet?.theory | keyvalue">
            <li *ngIf="item.key != 'id'">
                <app-start-rating [selectedRating]="item.value" (click)="saveTheory($event, item.key)"></app-start-rating><span class="definition">{{ ('controlSheet.theory.' + item.key) | translate }}</span>
            </li>
        </ng-container>
    </ul>

    <h4>{{ 'controlSheet.altitudeFlight.title' | translate }}</h4>
    <ul>
        <ng-container *ngFor="let item of controlSheet?.altitudeFlight | keyvalue">
            <li *ngIf="item.key != 'id'">
                <app-start-rating [selectedRating]="item.value" (click)="saveAltitudeFlight($event, item.key)"></app-start-rating><span class="definition">{{ ('controlSheet.altitudeFlight.' + item.key) | translate }}</span>
            </li>
        </ng-container>
    </ul>
</ng-container>

<ng-template #addControlsheetButton>
    <button mat-raised-button color="primary" (click)="addControlSheet()">{{ 'buttons.addControlSheet'| translate }}</button>
</ng-template>