mat-card {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.add-button {
    margin: 0 auto 15px 0;
    display: block;
}

.color-picker-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
}

.color-picker-circle::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
}

.color-picker-circle::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.color-picker-circle::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}