.appointment-card {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.add-button {
    margin: 20px auto 15px 0;
    display: block;
}

.mat-mdc-cell, .mat-mdc-header-cell {
    padding: 0;
}



th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0px;
}

.mat-header-cell {
    padding-right: 20px;
}

.mat-column-edit, .mat-column-subscription, .mat-column-list{
    cursor: pointer;
}

.mat-column-scheduling {
    width: 138px;
    min-width: 120px;
}

.mat-column-state {
    width: 100px;
    min-width: 92px;
}

.mat-column-meetingPoint {
    width: 200px;
    min-width: 120px;
}

.mat-column-instructor {
    min-width: 120px;
    // padding-right: 20px;
}

.mat-column-takeOffCoordinator {
    min-width: 120px;
}

// Calendar CSS
#draggable-events .draggable-event-item {
    cursor: move;
    margin: 3px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(56, 128, 255);
    border-bottom-color: rgb(56, 128, 255);
    border-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 3px;
  }

#draggable-events {
    width: 200px;
}  

.fc-h-event {
    background-color: rgb(56, 128, 255) !important;
    border: 1px solid rgb(56, 128, 255) !important;
}

// Filter container
.filter-container {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    mat-form-field {
        width: 250px;
        
        ::ng-deep .mat-mdc-form-field-subscript-wrapper {
            display: none !important;
        }         
    }

    mat-chip-listbox {
        display: flex;
        align-items: center;
    }
}

table mat-chip {
    background-color: transparent !important;
    border: 1px solid rgb(98, 98, 98) !important;
}

// Canceled state chip style
table .canceled-chip {
    background-color: transparent !important;
    border: 1px solid red !important;
    color: red !important;
}

// Confirmed state chip style
table .confirmed-chip {
    background-color: transparent !important;
    border: 1px solid green !important;
    color: green !important;
}