.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    min-width: 300px;
}

.student-list-button {
    margin:0 auto;
    display:block;
}

.student-name {
    display: flex;
    align-items: center;
    display: inline;
}

.student-name mat-icon {
    float: right;
}

mat-list mat-list-item.student-info {
    height: auto;
    padding: 16px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);

    p {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        line-height: 16px;
        letter-spacing: 0.25px;
    }

    .student-name {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .mat-sidenav {
        width: 100%;
    }
}