<h1 mat-dialog-title>Termin</h1>
<mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>{{ 'appointment.state'| translate }}</mat-label>
        <mat-select cdkFocusInitial required formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state">
                {{ 'appointment.stateValue.' + state| translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="picker" 
                        placeholder="{{ 'appointment.dateTime'| translate }}" 
                        formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker 
          [showSpinners]="showSpinners" 
          [showSeconds]="showSeconds"
          [stepHour]="stepHour" [stepMinute]="stepMinute" 
          [stepSecond]="stepSecond"
          [touchUi]="touchUi"
          [color]="color">
        </ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'appointment.meetingPoint'| translate }}</mat-label>
        <input matInput placeholder="Treffpunkt" formControlName="meetingPoint" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>{{ 'appointment.instructor'| translate }}</mat-label>
        <mat-select required formControlName="instructor">
            <mat-option *ngFor="let teamMember of data.teamMembers" [value]="teamMember.email">
                {{teamMember.firstname}} {{teamMember.lastname}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>{{ 'appointment.takeOffCoordinator'| translate }}</mat-label>
        <mat-select formControlName="takeOffCoordinator">
            <mat-option *ngFor="let teamMember of data.teamMembers" [value]="teamMember.email">
                {{teamMember.firstname}} {{teamMember.lastname}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'appointment.maxPeople'| translate }}</mat-label>
        <input matInput placeholder="{{ 'appointment.maxPeople'| translate }}" type="number" formControlName="maxPeople">
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ 'appointment.description'| translate }}</mat-label>
        <textarea matInput placeholder="{{ 'appointment.description'| translate }}" type="number" formControlName="description"></textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button (click)="onCancel()">{{ 'buttons.cancel'| translate }}</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid">{{ 'buttons.save'| translate }}</button>
</mat-dialog-actions>